.input_form {
    width: 90%;
    margin-bottom: 2%;
}

.formik {
    height: 40px;
    display: flex;
    padding: 10px;
}

.input {
    width: 70%;
    height: 40px;
    margin-left: 5%;
    padding: 2%;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 2%;
    background-color: #c6daf0b3;
}

.add {
    border-radius: 7px;
    background: linear-gradient(45deg, #6b8bac, #5a7591);
    box-shadow: 5px -5px 98px #59748f, -5px 5px 98px #6f90b3;
    width: 50px;
    height: 30px;  
    margin: 15px;
    font-size: large;
}