.messages {
    display: grid;
    grid-template-columns: 6fr 1fr;
}

.message {
    padding: 15px;
    margin: 5px;
    background-color: #ccd6e2;
    width: 320px;
    border-radius: 7px;
}

.avatar img {
    width: 40px;
    border-radius: 25px;
}

.avatar {
    justify-self: center;
    align-self: center;
}