.message {
    padding: 15px 10px;
    margin: 5px;
    margin-right: 70px;
    display: flex;
    justify-content: flex-end;
    background-color: #ccd6e2;
    width: 320px;
    border-radius: 7px;    
}