.header {
  position: sticky;
  top: 0;
  grid-area: header;
  background-color: #4b77a9;
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}

.img {
  height: 70px;
  grid-column: 2/3;
}

.login_block {
  color: #000;
  display: grid;
  justify-content: end;
  align-content: center;
  margin-right: 100px;
}

.profilePhoto {
  width: 45px;
  border-radius: 20px;
}

.auth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.button {
  grid-column: 2/3;
  margin: 0 5px;
}