.header {
  position: sticky;
  top: 0;
  grid-area: header;
  background-color: #4b77a9;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}

.img {
  height: 70px;  
  grid-column: 2/3; 
}