.navbar {
  margin-top: 5px;
  grid-area: nav;
  width: 150px;
  background-color: #eeeff0;
}

.link {
  height: 30px;
  padding-top: 10px;
}

.link a {
  text-decoration: none;
  padding-left: 10px;
  color: #50749b;
}

.link:hover {
  background-color: #cfd4d8;
}

.active {
  font-size: 16px;
  font-weight: 700;
}

.icon {
  height: 15px;
  padding-right: 5px;
}

.icon_todolist{
  height: 18px;
  padding-right: 3px;
}