.navbar {
  grid-area: nav;
  width: 150px;
  background-color: #eeeff0;
}

.link {
  height: 30px;
  padding-top: 10px;
}

.link a {
  text-decoration: none;
  padding-left: 10px;
}

.link:hover {
  background-color: #cfd4d8;
}