.footer {
  width: 1024px;
  margin: 0 auto;
  height: 80px;
  background-color: #eeeff0;
  display: grid;
  grid-template-columns: 800px 40px 40px 40px 40px 1fr;
}

.img {
  margin-top: 20px;
  width: 33px;
}

.p {
  padding: 15px 0 0 50px;
}