.footer {
  margin: 0 auto;
  height: 85px;
  background-color: #eeeff0;
  display: grid;
  grid-template-columns: 1fr 40px 40px 40px 40px 1fr;
}

.img {
  margin-top: 20px;
  width: 33px;
}

.p {
  padding: 15px;
  grid-column: 1/2;
  margin: 5;
}