.img {
  padding-left: 10px;
  height: 200px;
  width: 490px;
}

.myPosts {
  display: grid;
  grid-template-rows: 1fr 50px;
}

.enter {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.textarea {
  grid-column: 2/3;
  margin-top: 30px;
}

.button {
  margin-left: 200px;
  margin-top: 5px;
  grid-column: 2/3;
}

.form {
  display: block;
  width: 40%;
  padding: 5px;
  margin: 25px 0 0 35px;
  background: #ccd6e2;
  line-height: 25px;
  border-width: 0;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  resize: none;
  border: 1px solid #000;
}

textarea:focus {
  outline: none;
}

.profile {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 200px 2fr; 
  grid-template-rows: 20px 3fr 1fr; 
  justify-content: center;
}

.profile_img {
  width: 200px;
  border-radius: 100px;
  justify-self: center;
  grid-row: 2/3;
}

.profile_info {
  justify-self: start;
  margin-left: 25px;
  width: 300px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.profile_span {
  font-weight: 600;
  width: 100px;
}

.profile_item {
  margin: 10px;
}

.button_status {
  margin-left: 15px;
}

.status {
  font-weight: 600;
  width: 300px;
  margin-left: 10px;
  grid-column: 2/3;
  margin-left: 17px;

}
.profile_addPhoto{
  grid-row: 3/4;
}