

.like img {
  height: 15px;
}

.like {
  margin-bottom: 15px;
  height: 15px;
}

.post {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 70px 1fr;
}
.img {
  height: 50px;
  border-radius: 30px;
  grid-column: 2/3;
}
.text {
  padding-top: 15px;
  grid-column: 3/4;
}

.likes{
  grid-column: 3/4;
  margin-left: 10px;
}