.like {
  height: 13px;
  margin-right: 5px;
  margin-top: 5px;
}

.post {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 70px 1fr;
}

.img {
  height: 50px;
  border-radius: 30px;
  grid-column: 1/2;
}

.text {
  padding: 15px;  
  grid-column: 2/3;
  background-color: #ccd6e2;
  border-radius: 7px;
  width: 395px;
}

.likes {
  grid-column: 2/3;
  margin-left: 5px;
}